# Build artifacts
.vscode
kernel/build
kernel/cdrom/sys/*.bin
kernel/obj

# build file
kernel/inc/build.h

# ide config
.idea

# ignore vim swp file
*.swp

# Ignore memory dumps
*.dmp

# Work folder
kernel/work

# Python cache
__pycache__